body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #DC3546;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #ad3636;
  color: yellow;
}

nav ul li img,
.logo img {
  height: 30px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 30px;
}

.logo h4 {
  margin-right: 20px;
}

.container,
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.titulo,
.negrita {
  display: flex;
  font-weight: bold;
  color: black;
}

.titulo1,
.container h3 {
  font-weight: lighter;
  color: black;
}

.negrita {
  margin-left: 10px;
}

.container img {
  height: 150px;
}

label {
  display: block;
  margin-bottom: 5px;
}

form {
  width: 800px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #DC3546;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}